{% extends 'includes/main.html' %}
    {% load static %}
    
    {% block content %}
    {% include 'includes/sidebar.html' %}
    {% include 'includes/header.html' %}
<div id="wrapper">
        <div class="main_content">
            <div class="container m-auto">
                <div class="container-fluid">
                    <div class="">
                        <h2>Cars </h2>
                        <ul id="display">

                        </ul>
                    </div>
                    <form method="post" id="post-form" >
                     {% csrf_token %}
                     <input type="text" name="nick_name" id="nick_name">
                     <input type="text" name="first_name" id="first_name">
                     <input type="text" name="last_name" id="last_name">
                     <input type="submit" >
                    </form>
                </div>
            </div>
        </div>
</div> 
<script>
    $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                type: 'GET',
                url: "{% url 'ajax:getProfiles' %}",
                success: function(response){
                    console.log(response);
                    $("#display").empty();
                    for (var key in response.profiles)
                    {
                        var temp = "<li class='list'><b>"+response.profiles[key].nick_name+"</b></li>";
                        $("#display").append(temp);
                    }
                },
                error: function(){
                    alert("Data Error")
                }
            });
        },1000);
    });
    $(document).on('submit','#post-form',function(e){
            e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'ajax:create' %}",
                    data:{
                        nick_name:$("#nick_name").val(),
                        first_name:$("#first_name").val(),
                        last_name:$("#last_name").val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(data){
                    alert(data);
                    }
                });
            });

</script>

{% endblock content %}
